@model WebApp.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detailid</h1>

<div>
    <h4>Toode</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price) €
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductStateType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductStateType.Title)
        </dd>
        <dt style="margin-top: 30px">
            @{
                var pictures = Model.PictureBytes;
                @foreach (var picture in pictures)
                {
                    <img src="@GetImage(picture)" height="250" width="250" asp-append-version="true" alt="" style="margin: 10px"/>
                }
            }
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-warning" style="color: white; margin-right: 10px">Muuda</a>
    <a asp-action="Delete" asp-route-id="@Model.ProductId" class="btn btn-danger">Kustuta</a>
</div>

<div style="margin-top: 30px">
    <a asp-action="Index" style="color: #808080">Tagasi</a>
</div>

@{
    static string GetImage(byte[] list)
    {
        var base64 = Convert.ToBase64String(list);
        var imgSrc = "data:image;base64," + base64;
        return imgSrc;
    }
}