@model WebApp.ViewModels.ProductIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Toodete kataloog</h1>

<p>
    <a asp-action="Create" class="button button2">Lisa uus toode</a>
    <a asp-controller="ProductsGenerator" asp-action="Create" style="float: right" class="button button2">Genereeri tooteid</a>
</p>

<form asp-controller="Products" asp-action="Index" method="get">
    <p>
        Kauba nimi: <input type="text" name="SearchString" />
        <input type="submit" value="Otsi" />
    </p>
</form>

@* <p> *@
@*     <a asp-controller="Products" asp-action="DeleteAll" style="float: right" class="button button3">Kustuta kõik</a> *@
@* </p> *@
<table class="table">
    <thead>
    <tr>
        <th>

        </th>
        <th>
            Tootekood
        </th>
        <th>
            Nimetus
        </th>
        <th>
            Hind
        </th>
        <th>
            Toote seisundi liik
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                <a href="/Products/Details/@item.ProductId">
                    @{
                        if (item.PictureBytes.Count > 0)
                        {
                            var picture = Model
                                .Products
                                .First(x => x.ProductId == item.ProductId)
                                .PictureBytes
                                .First();
                            <img src="@GetImage(picture)" height="50" width="50" asp-append-version="true" alt=""/>
                        }
                    }
                </a>
            </td>
            <td style="vertical-align: center">
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td style="vertical-align: center">
                <a style="text-decoration: none; font-weight: bold; color: #2B2D2F" href="/Products/Details/@item.ProductId">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>
            <td style="vertical-align: center">
                @Html.DisplayFor(modelItem => item.Price) €
            </td>
            <td style="vertical-align: center">
                @Html.DisplayFor(modelItem => item.ProductStateType.Title)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-info" style="padding: 0 .4rem">Vaata</a>
                <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-warning" style="padding: 0 .4rem; color: white">Muuda</a>
                <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger" style="padding: 0 .4rem">Kustuta</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div style="position: absolute; bottom: 50px">
    <a asp-action="Index" asp-route-page="@GetPreviousPage()" style="color: #808080">Eelmine</a> | @Model.Page |
    <a asp-action="Index" asp-route-page="@GetNextPage()" style="color: #808080">Järgmine</a>
</div>

@{
    int GetNextPage()
    {
        return Model.Page + 1;
    }

    int GetPreviousPage()
    {
        if (Model.Page <= 1)
        {
            return 1;
        }
        return Model.Page - 1;
    }

    static string GetImage(byte[] list)
    {
        if (list == null)
        {
            return "";
        }
        var base64 = Convert.ToBase64String(list);
        var imgSrc = "data:image;base64," + base64;
        return imgSrc;
    }
}

<style>
.button {
  background-color: white;
  color: black;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.button2 {
  background-color: #0492C2;
  color: white; 
  border: none;
}

.button2:hover {
  background-color: #89CFF0; 
  color: white;
  text-decoration: none;
}

</style>